.header {
    background: #12203E;
    color: #fff;
	grid-area: header;
	padding: 20px;
	border-radius: 4px;
	animation: flashcolor 2s infinite;

}


  @keyframes flashcolor {
	0%   {background-color: #12203E;}
	50%  {background-color: #eeee62;}
  }
.detalleContenido{
	background: #c1c1c1;
    color: #fff;
    border-radius: 4px;
}
body{
	width: 90%;
    max-width: 1000px;
    margin: 20px auto;
	display:flex;
	flex-direction: column;
	font-family: 'Roboto';
}
 .medioDiv{
	padding-left: 21px;
 }

 .contenedor{
	 flex: 0 0;

 }
 ul > li {
	list-style-type:none;
 } 
 .responsive {
	max-width: 300px;
	height: auto;
  }
 @media (min-width: 1025px) {
	
	ul {
		width: 90%;
		margin: 0 auto;
	  }
	  ul > li {
		float: left;
		width: 32%;
	  }
	  .contenido{
		display:flex;
		 flex-wrap: wrap;
		 flex: 1;
	 }
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
	.contenido{
		display:flex;
		 flex-wrap: wrap;
		 flex: 1;
	 }
	ul {
		width: 90%;
		margin: 0 auto;
	  }
	  ul > li {
		float: left;
		width: 32%;
	  }
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
	.contenido{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column
	   }
	
	  ul > li {
		display: block;
	}
	
	
  }