
		<form action="#">
			<label for="tNombre">Nombre</label>
			<input type="text" id="nombre" name="nombre" placeholder="Nombre...">
		
			<label for="tPais">Pais</label>
			<select id="pais" name="pais">
			  <option value="1">Argentina</option>
			  <option value="2">Paraguay</option>
			  <option value="3">España</option>
			</select>
		
			<label for="tAsunto">Asunto</label>
			<textarea id="asunto" name="asunto" placeholder="Asunto..." style="height:200px"></textarea>
		
			<input type="submit" value="Enviar">
		  </form>


